<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="style.css" rel="stylesheet">

    </head>
    <body>    
        <script type='text/javascript' src='hours.js'></script>
        <script>
            var json_data = JSON.parse(data);
            var body = document.getElementsByTagName("body")[0];
            console.log(json_data)
            // document.write("user is : " , json_data.user_id);
            document.write(" Hello " , json_data['user_id']);


            var tbl = document.createElement("table");
            var tblBody = document.createElement("tbody");

            // creating all cells
            var header_row = document.createElement('tr')
            var session_row = document.createElement('tr')

            for (var i = 0; i < json_data.days.length; i++) {
                var col = document.createElement('th')
                var date = json_data.days[i].date
                var cellText = document.createTextNode(date);
                col.appendChild(cellText);
                col.setAttribute("border", "2")
                header_row.appendChild(col)
                var session_data = document.createElement('td')
                session_data.setAttribute("border", "2")

                for(var j = 0; j < json_data.days[i].sessions.length; j++){
                    var row = document.createElement('tr')
                    row.setAttribute("border", "2")
                    var cell = document.createElement('td')
                    
                    var project = json_data.days[i].sessions[j].project
                    var total = json_data.days[i].sessions[j].total_time 
                    var row_text = document.createTextNode(project + ': ' + total);

                    cell.appendChild(row_text)
                    row.appendChild(cell)
                    session_data.appendChild(row);
                    session_row.appendChild(session_data)
                }

                tblBody.appendChild(header_row);
                tblBody.appendChild(session_row);

            }
            tblBody.setAttribute("border", "2")
            // put the <tbody> in the <table>
            tbl.appendChild(tblBody);
            // appends <table> into <body>
            body.appendChild(tbl);
            // sets the border attribute of tbl to 2;
            tbl.setAttribute("border", "2");

        </script>
    </body>
</html>